input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

#artist-image {
    display:block;
    margin: auto;
}

#artist-name {
    text-align:center;
    font-size:20px;
}

#title {
    text-align:center;
    font-size: 50px;
}
#form-div {
   text-align:center;
}
#followers {
    text-align:center;
    font-size: 20px;
}
#top-tracks-list {
    width: 260px;
    display:block;
    margin: auto;
}